@import url('https://fonts.googleapis.com/css2?family=Merriweather');

* {
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

.icon {
  height: 25px;
  padding-right: 6px;
}

.btn-success {
  background-color: #46834f;
}

.btn-success:hover {
  background-color: #50965b;
}

#board {
  max-height: 100vh;
  padding: 0 !important;
}

#console {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}

#game_log {
  max-height: 35vh;
  height: fit-content;

  overflow-y: scroll;
  overflow-x: clip;

  padding: 5px 25px;
  background-color: rgb(252, 255, 255);
}

#game_log>* {
  font-family: monospace;
}

#game_log li {
  list-style: none;
}

#game_log li::before {
  content: '>';
  margin: 0 5px 0 -15px;
}

@media screen and (max-width:520px) {

  #console {
    overflow: hidden;
    max-height: max-content;
  }

}