@import url('https://fonts.googleapis.com/css2?family=Merriweather');

* {}

html,
body,
main {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  background-color: cadetblue;
  display: flex;
}

main>* {
  flex: 1;
}

#board {
  flex: 2;
}

#game_log {
  height: 250px;
  width: 250px;
  overflow-y: scroll;
  overflow-x: clip;

  padding: 5px 25px;
  border-radius: 5px;
  color: black;
  border: solid rgba(0, 0, 0, 0.486) 2px;
  background-color: rgba(0, 0, 0, 0.288);
}

#game_log>* {
  width: 100%;
  overflow-wrap: break-word;
  font-family: monospace;
}


/* TODO: ugly solution */
#game_log li {
  list-style: none;
}

#game_log li::before {
  content: '>';
  margin: 0 5px 0 -15px;
}


.shaded {
  background-color: aliceblue;
}