@import url('https://fonts.googleapis.com/css2?family=Merriweather');

* {
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

#board {
  background-color: cadetblue;
  height: 100vh;
  max-height: 100vh;
}

#console {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  max-height: 100vh;
}

#game_log {
  max-height: 35vh;
  height: fit-content;

  overflow-y: scroll;
  overflow-x: clip;

  padding: 5px 25px;
  background-color: rgb(252, 255, 255);
}

#game_log>* {
  width: 100%;
  overflow-wrap: break-word;
  font-family: monospace;
}


/* TODO: ugly solution */
#game_log li {
  list-style: none;
}

#game_log li::before {
  content: '>';
  margin: 0 5px 0 -15px;
}


.shaded {
  background-color: aliceblue;
}

@media screen and (max-width: 480px) {
  #board {
    height: 40vh;
  }

  #console {
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    max-height: max-content;
  }

}